<div id="mailbox" class="section white z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col l5 m5 s12">
                <div>
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Conversations</h5></li>
                        <a class="collection-item avatar" data-ng-repeat="con in conversations" data-ng-click="setActiveConversation(con)">
                            <i class="material-icons circle gray">face</i>
                            <span class="title">{{getUserName(con)}}</span>
                        </a>
                    </ul>
                </div>
                <div>
                    <a href="#newconversation" class="btn-floating btn-large waves-effect waves-light modal-trigger yellow right"><i class="material-icons black-text">add</i></a>
                </div>
            </div>

            <div id="newconversation" class="modal">
                <div class="modal-content">
                    <h5>Add new conversation with:</h5>
                    <input type="search" ng-model="q" placeholder="Search..." aria-label="filter friends" />
                    <div class="collection">
                        <a class="collection-item avatar" data-ng-repeat="email in userEmailArray | filter:q as results">
                            <i class="material-icons circle gray">face</i>
                            <span class="title">{{email}}</span>
                        </a>
                        <ul ng-if="results.length === 0">
                            No results found
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col l7 m7 s12">
                <h6>Conversation with {{getUserName(getActiveConversation())}}</h6>
                <ul class="collection">
                    <li class="collection-item avatar" data-ng-repeat="mess in getConversationBetween(getActiveConversation())">
                        <i ng-if="mess.to != getActiveConversation()" class="material-icons circle gray">face</i>
                        <i ng-if="mess.to == getActiveConversation()" class="material-icons circle black">face</i>
                        <font ng-if="mess.to != getActiveConversation()" color="gray">{{mess.text}}</font>
                        <font ng-if="mess.to == getActiveConversation()" color="black">{{mess.text}}</font>
                    </li>
                </ul>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Message</label>
                </div>
                <button class="btn waves-effect yellow black-text right" type="submit" name="action">Send
                    <i class="material-icons right black-text">send</i>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });
</script>