<div id="wall" class="section white z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col l5 m5 s12">
                <div>
                    <ul class="collection-header"><h3>"Course" Wall</h3></ul>
                    <h4><br /><br />New Post:</h4>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Text</label>
                    </div>
                    <button class="btn waves-effect yellow black-text right" type="submit" name="action">Post
                        <i class="material-icons right black-text">send</i>
                    </button>
                </div>
            </div>

            <div class="col l7 m7 s12">
                <ul class="collection">
                    <li class="collection-item avatar" data-ng-repeat="p in getPostsInWall(getActiveWall().id)">
                        <i class="{{getUser(p.from).icon}}">face</i>
                        <span class="title"><b>{{getUser(p.from).first}} {{getUser(p.from).last}}</b></span>
                        <p>{{p.title}}<br>
                           {{p.message}}
                        </p>
                        <a ng-if="isFavoriteOf(p.postId)" class="secondary-content">
                            <i class="material-icons yellow-text">star</i>
                        </a>
                        <a ng-if="!isFavoriteOf(p.postId)" class="secondary-content">
                            <i class="material-icons yellow-text">star_border</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
