<div id="wall" class="section white z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col l5 m5 s12">
                <div>
                    <ul class="collection-header"><h3>Wall</h3></ul>
                    <ul class="collection-header"><h5>Course: {{ currentSection.title }}</h5></ul>
                    <h4><br /><br />New Post:</h4>
                    <form ng-submit="getPost()">
                        <div class="input-field col s12">
                            <textarea ng-model="post.text" id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Text</label>
                        </div>
                        <button class="btn waves-effect yellow black-text right" type="submit" name="action">Post
                            <i class="material-icons right black-text">send</i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col l7 m7 s12">
                <ul class="collection">
                    <li class="collection-item avatar" data-ng-repeat="p in wallPosts">
                        <i class="material-icons circle gray">face</i>
                        <span class="title"><b>{{getUserName(p.from)}}</b></span>
                        <p>{{p.text}}</p>
                        <a href="#" ng-if="isFavoriteOf(p.id)" class="secondary-content" data-ng-click="toggleFavorite(p.id)">
                            <i class="material-icons yellow-text">star</i>
                        </a>
                        <a href="#" ng-if="!isFavoriteOf(p.id)" class="secondary-content" data-ng-click="toggleFavorite(p.id)">
                            <i class="material-icons yellow-text">star_border</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
