@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@layouts.main("TutorMe.io"){
    <div id="index-banner" class="section no-pad-bot z-depth-1">
        <div class="container">
            <br><br>
            <h1 class="header center yellow-text text-accent-2">TutorMe</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">A new way to share your knowledge!</h5>
            </div>
            <div class="row center">
                <div class="col s3 push-s3">
                    <a href="/login" class="btn-large waves-effect waves-light white black-text z-depth-3">Login</a>
                </div>
                <div class="col s3 push-s3">
                    <a href="/register" class="btn-large waves-effect waves-light yellow accent-2 black-text z-depth-3">Sign Up</a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div id="features" class="section white z-depth-1">
        <div class="container">
                <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center yellow-text text-accent-3"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Fast and Simple</h5>

                        <p class="light">Our focus is to make tutoring as easy as possible, empowering daily tutors by giving them their own space to host courses. Enrolling as a student is only a few clicks away!</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center yellow-text text-accent-3"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Friendly and Responsive</h5>

                        <p class="light">Regardless of the type of user, Student or Tutor, TutorMe is designed with User Experience in mind. Our service adapts to your device, whether phone or tablet, and provides a clean UI.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center yellow-text text-accent-3"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Customizable</h5>
                        <p class="light">Our platform provides full control over your content and what you decide to do with it. Set-up reminders, notifications and notes to always stay productive and on top.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

