@(title: String)
@layouts.main(title)(null){
  <div id="mailbox" class="section white z-depth-1">
    <div class="container">
      <div class="row">
        <div class="col l5 m5 s12">
          <div>
            <ul class="collection with-header">
              <li class="collection-header"><h5>Conversations</h5></li>
              <a href="#" class="collection-item avatar">
                <i class="material-icons circle purple">face</i>
                <span class="title">User1234</span>
              </a>
              <a href="#" class="collection-item avatar">
                <i class="material-icons circle green active">face</i>
                <span class="title">User1235</span>
              </a>
              <a href="#" class="collection-item avatar">
                <i class="material-icons circle blue">face</i>
                <span class="title">User1236</span>
              </a>
              <a href="#" class="collection-item avatar">
                <i class="material-icons circle gray">face</i>
                <span class="title">User1237</span>
              </a>
            </ul>
          </div>
          <div>
            <a href="#newconversation" class="btn-floating btn-large waves-effect waves-light yellow right"><i class="material-icons black-text">add</i></a>
          </div>
        </div>

        <div class="col l7 m7 s12">
          <h6>Conversation with User1235</h6>
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle green">face</i>
              <p>When is the next DB test?
              </p>
            </li>
            <li class="collection-item right-align">
              <p>No idea!
              </p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle green">face</i>
              <p>Siempre estamos perdios
              </p>
            </li>
          </ul>
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Message</label>
          </div>
          <button class="btn waves-effect yellow black-text right" type="submit" name="action">Send
            <i class="material-icons right black-text">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
}
