@layouts.main("TutorMe.io - Wall"){
    <div id="wall" class="section white z-depth-1">
        <div class="container">
            <div class="row">
                <div class="col l5 m5 s12">
                    <div>
                        <ul class="collection with-header">
                            <li class="collection-header"><h4>Classes</h4></li>
                            <a href="#" class="collection-item">
                                <span class="title">Calculus 1</span>
                            </a>
                            <a href="#" class="collection-item">
                                <span class="title">Calculus 2</span>
                            </a>
                            <a href="#" class="collection-item">
                                <span class="title">Calculus 3</span>
                            </a>
                            <a href="#" class="collection-item">
                                <span class="title">Differential Equations</span>
                            </a>
                        </ul>
                        <div class="input-field col s12">
                            <input id="post_title" type="text">
                            <label for="post_title">Title</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Text</label>
                        </div>
                            <button class="btn waves-effect yellow black-text right" type="submit" name="action">Post
                                <i class="material-icons right black-text">send</i>
                            </button>
                    </div>
                </div>

                <div class="col l7 m7 s12">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle purple">face</i>
                            <span class="title">How do I solve this problem?</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                            <a href="#fav" class="secondary-content"><i class="material-icons yellow-text">star_border</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle blue">face</i>
                            <span class="title">Did not understand</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                            <a href="#fav" class="secondary-content"><i class="material-icons yellow-text">star_border</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle red">face</i>
                            <span class="title">Thank you for your quick response</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                            <a href="#fav" class="secondary-content"><i class="material-icons yellow-text">star_border</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle orange">face</i>
                            <span class="title">Nice class today!</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                            <a href="#fav" class="secondary-content"><i class="material-icons yellow-text">star</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle green">face</i>
                            <span class="title">Need help with assignment</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                            <a href="#fav" class="secondary-content"><i class="material-icons yellow-text">star</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle gray">face</i>
                            <span class="title">Tutor recommendation for another class?</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                            <a href="#fav" class="secondary-content"><i class="material-icons yellow-text">star_border</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
