@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(user: User = null)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>@title</title>

            <!-- Play favicon and default console script -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

            <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link href="@routes.Assets.versioned("stylesheets/style.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <div class="indigo">
            <div class="navbar-fixed">
                <nav class="indigo darken-3 z-depth-1" role="navigation">
                    <div class="nav-wrapper container"><a id="logo-container" href="@routes.HomeController.index" class="brand-logo"><i id="logo-container" class="large material-icons">group_work</i></a>
                        <ul class="right">
                            <li>
                                <a href="#profile">
                                    <i class="circle material-icons">perm_identity</i>
                                </a>
                            </li>
                            <li>
                                Hi! @if(user != null){ @user.getFirstName }
                                    @if(user == null){ Guest }
                            </li>
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            @* Insert desktop links here *@
                            @if(user != null){
                                <li><a href="#classes">Courses</a></li>
                                <li><a href="#enroll">Enroll</a></li>
                                <li><a href="#tutors">Tutors</a></li>
                                <li><a href="#wall">Wall</a></li>
                                <li><a href="#mailbox">Mailbox</a></li>
                            }
                        </ul>

                        <ul id="nav-mobile" class="side-nav">
                            @* Insert mobile links here *@
                            @if(user != null){
                                <li><a href="#classes">Courses</a></li>
                                <li><a href="#enroll">Enroll</a></li>
                                <li><a href="#tutors">Tutors</a></li>
                                <li><a href="#wall">Wall</a></li>
                                <li><a href="#mailbox">Mailbox</a></li>
                            }
                        </ul>
                        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    </div>
                </nav>
            </div>
            @content
            <footer class="page-footer indigo">
                <div class="container">
                    <div class="row">
                        <div class="col l6 m6 s12">
                            <h5 class="white-text">About Us</h5>
                            <p class="grey-text text-lighten-4">We are a team of college students from UPRM working on this project as part of our Database Systems course. We hope you find it to your liking.</p>


                        </div>
                        <div class="col l4 push-l2 m4 push-m2 s12 right-align">
                            <h5 class="white-text">Connect with Us!</h5>
                            <ul>
                                <li><a class="white-text hover-accent" href="https://github.com/diegofigs">@@diegofigs</a></li>
                                <li><a class="white-text hover-accent" href="https://github.com/andresher">@@andresher</a></li>
                                <li><a class="white-text hover-accent" href="https://github.com/lgrs05">@@lgrs05</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        Powered by Play, rendered by Twirl and materialized with <a class="indigo-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                    </div>
                </div>
            </footer>
            <!-- Scripts -->
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
            <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        </div>
    </body>
</html>